@import '../fonts/fonts.css';

body
{
    background: #1a1a1a;
}

.container
{
    max-width: 1280px;
    margin: 0 auto;
}

.flex
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.grid
{
    display: grid;
}

.section
{
    height: 740px;
}

.header
{
    position: fixed;
    z-index: 1;

    width: 100%;

    background: #1a1a1a;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.05);
}

.header .container
{
    padding: 35px 85px;
}

.header .flex
{
    justify-content: space-between;
}

.header__logo
{
    position: relative;
}

.header__logo a
{
    font-size: 1.125rem;
    font-weight: bold;

    letter-spacing: 0.125rem;
    text-transform: uppercase;

    color: #fff;
}

.header__logo a:after
{
    position: absolute;
    top: -8px;
    right: 15px;

    width: 5px;
    height: 5px;

    content: '';
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);

    background: #fff;
}

.list-item
{
    margin-left: 20px;
}

.list-item__link
{
    font-size: 0.875rem;
    font-weight: 500;

    color: #fff;
}

.section .container
{
    padding: 0 85px;
}

.section--initial-screen .container
{
    padding: 0;
}

.section--initial-screen .grid
{
    grid-template-columns: 900px 380px;
    grid-template-rows: auto;
    justify-content: space-between;
}

.initial-screen__item
{
    width: 100%;
}

.initial-screen__item:first-child
{
    height: 740px;
    padding-left: 85px;

    background: -webkit-radial-gradient(52% 50%, circle, #2d2d2d, #1a1a1a);

    background: -o-radial-gradient(52% 50%, circle, #2d2d2d, #1a1a1a);

    background: radial-gradient(circle at 52%, at 50%, #2d2d2d, #1a1a1a);

    background: radial-gradient(circle at 52% 50%, #2d2d2d, #1a1a1a);

    grid-row: 1/3;
    grid-column: 1;
}

.initial-screen__item:first-child .initial-screen__item-img
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 17% 0;

    justify-content: center;
}

.initial-screen__item:first-child img
{
    width: 60%;
}

.initial-screen__item:not(:first-child)
{
    position: relative;
    z-index: 999;

    height: 370px;
    padding: 30px 40px;

    background: #242424;

    grid-column: 2;
}

.initial-screen__item:not(:first-child) img
{
    padding: 25px;
}

.initial-screen__item:not(:first-child) p
{
    font-size: 0.875rem;
    line-height: 2;

    color: #fff;
}

.initial-screen__item.active
{
    background: #161616;
}

.initial-screen__item h3
{
    font-size: 0.875rem;
    font-weight: 600;

    text-transform: uppercase;

    color: #fff;
}

.initial-screen__item hr
{
    width: 40px;
    height: 2px;
    margin: 10px 0;

    background: #fff;
}

.initial-screen__item p
{
    font-size: 1.5rem;
    line-height: 1.17;

    color: #fff;
}

.section--price .container
{
    height: 100%;
    padding: 100px 0 125px;

    background: -webkit-radial-gradient(50% 50%, circle, #262626, #1a1a1a);

    background: -o-radial-gradient(50% 50%, circle, #262626, #1a1a1a);

    background: radial-gradient(circle at 50%, at 50%, #262626, #1a1a1a);

    background: radial-gradient(circle at 50% 50%, #262626, #1a1a1a);

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.section--price__aditional-text
{
    font-size: 0.875rem;

    margin-top: 70px;

    text-align: center;

    color: #fff;
}

.section--price__products
{
    justify-content: center;
}

.section--price__product-item
{
    width: 340px;

    text-align: center;

    border-right: 1px solid #636363;
}

.section--price__product-item:last-child
{
    border-right: 0;
}

.section--price__product-item h2
{
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: 15px;

    text-align: center;

    color: #fff;
}

.section--price__product-item span
{
    font-size: 0.875rem;

    text-align: center;

    color: #949494;
}

.product-item__list
{
    margin: 30px 0 40px;
}

.product-item__list-item
{
    margin: 15px 0;
}

.product-item__list-item p
{
    font-size: 0.875rem;

    text-align: center;

    color: #fff;
}

.button
{
    font-size: 0.875rem;

    width: 220px;
    height: 60px;

    text-align: center;

    color: #fff;
    border-radius: 4px;
}

.button--green
{
    background: #87b145;
}

.section--partfolio
{
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.section--partfolio__article
{
    margin-top: 0;

    transition: .7s;
}

.partfolio-article__left-side
{
    position: relative;
    z-index: 0;

    width: 900px;
}

.partfolio-article__left-side p
{
    font-size: 0.75rem;

    position: -webkit-sticky;

    position: sticky;
    right: 0;
    bottom: 30px;
    left: 0;

    margin-bottom: 30px;

    text-align: right;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.partfolio-article__right-side
{
    position: -webkit-sticky;
    position: sticky;
    top: 88px;

    width: 380px;
    height: 100vh;
    margin-top: 0;
    padding: 50px 40px;

    background: #242424;
    box-shadow: 0 10px 16px 0 rgba(11,11,11,.5), 0 0 4px 0 rgba(0,0,0,.1);
}

.partfolio-article__right-side h2
{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.33;

    color: #fff;
}

.partfolio-article__right-side span
{
    font-size: 0.875rem;
    line-height: 2;

    color: #949494;
}

.partfolio-article__right-side span:last-child
{
    display: block;

    text-align: right;
}

.partfolio-list__item
{
    margin: 20px 0;
}

.partfolio-list__item h3
{
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 2;

    color: #fff;
}

.partfolio-list__item p
{
    font-size: 0.875rem;
    line-height: 2;

    color: #fff;
}

.section--about
{
    height: 650px;
}

.section--about__article
{
    position: relative;

    width: calc(1280px / 4);
    min-width: 210px;
    padding: 0 65px;

    cursor: pointer;
    transition: .55s;
    text-align: center;

    background: #191919;
}

.section--about__article:hover,
.section--about__article:focus
{
    min-width: 650px;
}

.section--about__article:hover p,
.section--about__article:focus p
{
    width: 520px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;

    opacity: 1;
}

.section--about__article:nth-child(odd)
{
    background: #161616;
}

.section--about__article h2
{
    font-size: 1rem;
    font-weight: 500;

    margin-top: 40px;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}

.section--about__article p
{
    font-size: 0.875rem;
    line-height: 2;

    overflow: hidden;

    width: 0;
    height: 0;
    margin-top: 30px;

    transition: .55s;
    text-align: left;

    opacity: 0;
    color: #fff;
}

.section--about__article img:first-child
{
    width: 80px;
    height: 80px;
    margin-top: 130px;
}

.section--about__article img:last-child
{
    position: absolute;
    right: 0;
    bottom: 40px;
    left: 0;

    width: 25px;
    height: 25px;
    margin: auto;
}

*
{
    font-size: 100%;
    line-height: 100%;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button
{
    cursor: pointer;

    border: 0;
}

ul
{
    list-style: none;
}

a
{
    text-decoration: none;
}

body
{
    font-family: 'Avenir Next Cyr', sans-serif;
}

::-moz-selection
{
    color: #fff;
    background: #31cfce;
}

::selection
{
    color: #fff;
    background: #31cfce;
}

img
{
    width: 100%;
    height: 100%;

    -o-object-fit: cover;

       object-fit: cover;
}
