.header
  position: fixed;
  width: 100%
  z-index: 1
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #1a1a1a;
  .container
    padding 35px 85px
  .flex
    justify-content: space-between;

  &__logo
    position: relative;
    a
      font-size: 18px;
      font-weight: bold;
      text-transform:  uppercase;
      letter-spacing: 2px;
      color: #ffffff;
      &:after
        content ''
        width: 5px;
        height: 5px;
        position: absolute;
        top: -8px
        right: 15px
        transform: rotate(30deg);
        background-color: #ffffff;


.list-item
  margin-left: 20px
  &__link
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
