.header
  position absolute
  width 100%
  z-index 1
  .icon
    display none
  &.fixed
    position fixed
    background-color #1a1a1a
    box-shadow 0 4px 4px 0 rgba(0, 0, 0, 0.05)
    .header__nav
      opacity 1
  .container
    padding 35px 85px
    justify-content space-between
    align-items center

  &__logo
    position: relative;
    a
      font-size: 18px;
      font-weight: bold;
      text-transform:  uppercase;
      letter-spacing: 2px;
      color: #ffffff;
      &:after
        content ''
        width: 5px;
        height: 5px;
        position: absolute;
        top: -8px
        right: 15px
        transform: rotate(30deg);
        background-color: #ffffff;

.header__nav
  transition .55s
  opacity 0
.list-item
  margin-left: 20px
  &__link
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
