
.section--price
  .container
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-image: radial-gradient(circle at 50% 50%, #262626, #1a1a1a);
    padding: 100px 0 125px
    height: 100%;
  &__aditional-text
    margin-top: 70px
    font-size: 14px;
    text-align: center;
    color: #ffffff;

  &__products
    justify-content: center;
  &__product-item
    border-right: 1px solid #636363
    width: 340px
    text-align: center;
    &:last-child
      border-right: 0px
    h2
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      margin-bottom: 15px
    span
      font-size: 14px;
      text-align: center;
      color: #949494;
.product-item

  &__list
    margin: 30px 0 40px
  &__list-item
    margin: 15px 0
    p
      font-size: 14px;
      text-align: center;
      color: #ffffff;
.button
  width: 220px;
  height: 60px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  &--green
    background-color: #87b145;
