header.header
  .container.flex
    .header__logo
      a(href='index.html') Pixelaria
    nav.header__nav
      ul.nav__list.flex
        li.list-item
          a(href='#').list-item__link Портфолио
        li.list-item
          a(href='#').list-item__link О студии
        li.list-item
          a(href='#').list-item__link Стоимость
        li.list-item
          a(href='#').list-item__link Заказать сайт
           
    
