@import '../fonts/fonts.css'

body
  background #1a1a1a
.container
  max-width 1920px
  margin 0 auto
.flex
  display: flex
.grid
  display: grid;
@import 'inc/header.styl'
@import 'inc/index.styl'
@import 'inc/reset.styl'
