@import '../fonts/fonts.css'

body
  background #1a1a1a
.container
  max-width 1280px
  margin 0 auto
.flex
  display: flex
.grid
  display: grid;
.section
  height 740px
@import 'inc/header.styl'
@import 'inc/initial-screen.styl'
@import 'inc/price.styl'
@import 'inc/partfolio.styl'
@import 'inc/about.styl'
@import 'inc/reset.styl'
